<div class="dusty-grass-gradient color-block mb-3 mx-auto z-depth-1-half p-4">
  <h1 class="display-3" style="font-size: 90px; text-align: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" >Buscando mi Cominidad</h1></div>


 <!--<form [formGroup]="myForm" class="text-center border border-light p-5 main"  action="#!" (submit)="searchComunity()"> 
my form
   <div class="form-group">
   
<fieldset id="group1">
  
  <div class="main">
  
  <h1 style="font-size: 60px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Quien soy?</h1>
  <br>
  <br>
  <br>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" formControlName="respuesta1" class="custom-control-input" value="1" formControlName="quiensoy"
   [(ngModel)]="personalStatus.quiensoy" id="defaultInline1" name="quiensoy">
  <label class="custom-control-label" for="defaultInline1" style="font-size: 30px;">Familia</label>
</div>


<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" formControlName="respuesta1" class="custom-control-input" value="2" formControlName="quiensoy"
  id="defaultInline2" [(ngModel)]="personalStatus.quiensoy" name="quiensoy">
  <label class="custom-control-label" for="defaultInline2" style="font-size: 30px;">Retirdos</label>
</div>


<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" formControlName="respuesta1" class="custom-control-input" value="3" formControlName="quiensoy"
  [(ngModel)]="personalStatus.quiensoy" id="defaultInline3" name="quiensoy">
  <label class="custom-control-label" for="defaultInline3" style="font-size: 30px;">Joven</label>
</div>
<br>
<div *ngIf="r.quiensoy.touched && r.quiensoy.invalid" class="alert alert-danger">
  <div *ngIf="r.quiensoy.errors.required">Name is required.</div>
</div> -->
<!--<div class="error" *ngIf="myForm.controls['respuesta1'].errors!=null"> is required</div>
</div>
</fieldset>
</div>-->
<!--<br><br> <br>
 my form
    <div class="form-group">-->
 <!--<div class="main">
  <h1 style="font-size: 60px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Posibilidad economica</h1>

<br>
  <br>
  <br>
<div class="custom-control custom-radio">
  <input type="radio" formControlName="respuesta2" class="custom-control-input" value="1" formControlName="economico"
  [(ngModel)]="personalStatus.economico" id="defaultGroupExample1" name="economico">
  <label class="custom-control-label" for="defaultGroupExample1" style="font-size: 30px;">Baja</label>
</div>
<br>

<div class="custom-control custom-radio">
  <input type="radio" formControlName="respuesta2" class="custom-control-input" value="2" formControlName="economico"
  [(ngModel)]="personalStatus.economico"  id="defaultGroupExample2" name="economico" >
  <label class="custom-control-label" for="defaultGroupExample2" style="font-size: 30px;">Regular</label>
</div>
<br>

<div class="custom-control custom-radio">
  <input type="radio" formControlName="respuesta2" class="custom-control-input" value="3" formControlName="economico"
  [(ngModel)]="personalStatus.economico"  id="defaultGroupExample3" name="economico">
  <label class="custom-control-label" for="defaultGroupExample3" style="font-size: 30px;">Alta</label>
</div>
<br>
<div class="error" *ngIf="myForm.controls['respuesta2'].errors!=null"> is required</div>-->
<!--<div *ngIf="r.economico.touched && r.economico.invalid" class="alert alert-danger">
  <div *ngIf="r.economico.errors.required">Name is required.</div>
</div>
</div>

<br> <br>
<div class="main">
  <h1 style="font-size: 60px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Posibilidad economica</h1>

<br>
  <br>
  <br>
<div class="custom-control custom-radio">
  <input type="radio" formControlName="respuesta3" class="custom-control-input" value="1" formControlName="religion"
  [(ngModel)]="personalStatus.religion" id="GroupExample1" name="religion">
  <label class="custom-control-label" for="GroupExample1" style="font-size: 30px;">Ortodoxo</label>
</div>
<br>

<div class="custom-control custom-radio">
  <input type="radio" formControlName="respuesta3" class="custom-control-input" value="2" formControlName="religion"
  [(ngModel)]="personalStatus.religion"  id="GroupExample2" name="religion" >
  <label class="custom-control-label" for="GroupExample2" style="font-size: 30px;">Secular</label>
</div>
<br>

<div class="custom-control custom-radio">
  <input type="radio" formControlName="respuesta3" class="custom-control-input" value="3" formControlName="religion"
  [(ngModel)]="personalStatus.religion"  id="GroupExample3" name="religion">
  <label class="custom-control-label" for="GroupExample3" style="font-size: 30px;">Conservador</label>
</div>
<br>
<div class="error" *ngIf="myForm.controls['respuesta2'].errors!=null"> is required</div>
<div *ngIf="r.religion.touched && r.religion.invalid" class="alert alert-danger">
  <div *ngIf="r.religion.errors.required">Name is required.</div>
</div>
</div>-->
<!--<br><br>

my form-->
<!--<div class="form-group">
<div class="main">

  <legend>
    <h1 style="font-size: 60px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Grado de religion</h1>
  </legend>
  <br>
    <br>
    
    <div>
      <input type="radio" formControlName="respuesta3" name="format" id="txt"  value="1" [(ngModel)]="personalStatus.religion" >
      <label for="txt" style="font-size: 30px;">Ortodoxo</label>
    </div>
    <br>
 
    
    <div>
      <input type="radio" name="format" formControlName="respuesta3" id="csv"  value="3" [(ngModel)]="personalStatus.religion">
      <label for="csv" style="font-size: 30px;">Secular</label>
    </div>
    <br>
    
   
    <div>
      <input type="radio" name="format" formControlName="respuesta3" id="csv"  value="5" [(ngModel)]="personalStatus.religion">
      <label for="csv" style="font-size: 30px;">Conservador</label>
    </div>
   
 

  <br>
 <div class="error" *ngIf="myForm.controls['respuesta3'].errors!=null"> is required</div>
 

</div>


<button class="btn btn-info btn-block my-4 dusty-grass-gradient color-block mb-3 mx-auto z-depth-1-half p-4"  
  type="submit">Search</button> 
</div>
<button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
</form> -->

 
<div class="container">
 
     
  <form [formGroup]="form" (ngSubmit)="submit()">
         
      <div class="form-group">
        <div class="media">
          <img src="../../../../assets/persona.jpg" class="mr-3 rounded img-thumbnail" alt="Sample Image" style="height: 300px; width: 500px; margin: 20px;">
          <div class="media-body">
              <br>
              <br>
              <h3 class="mt-0">Quien soy:</h3>
              <br>
               <div>
            <input id="quiensoy" type="radio" value="1" name="quiensoy" formControlName="quiensoy" >
            <label for="familia">Familia</label>
         </div>
 
         <div>
            <input id="quiensoy" type="radio" value="2" name="quiensoy" formControlName="quiensoy" >
            <label for="Retirados">Retirados</label>
         </div>
         <div>
          <input id="quiensoy" type="radio" value="3" name="quiensoy" formControlName="quiensoy" >
          <label for="Joven">Joven</label>
       </div>
          
          <div *ngIf="f.quiensoy.touched && f.quiensoy.invalid" class="alert alert-danger">
              <div *ngIf="f.quiensoy.errors.required"> is required.</div>
          </div>
          </div>
        </div>
         
      </div>


    <!-- <div class="form-group">
        <label for="economico">Posibilidad economica:</label>
        <div>
          <input id="economico" type="radio" value="1" name="economico" formControlName="economico" >
          <label for="male">baja</label>
       </div>

       <div>
          <input id="economico" type="radio" value="2" name="economico" formControlName="economico" >
          <label for="female">promedio</label>
       </div>
       <div>
        <input id="economico" type="radio" value="3" name="economico" formControlName="economico" >
        <label for="female">alta</label>
     </div>
        
        <div *ngIf="f.economico.touched && f.economico.invalid" class="alert alert-danger">
            <div *ngIf="f.economico.errors.required"> is required.</div>
        </div>
    </div>--> 
    <div class="form-group">
      <div class="media">
        <img src="../../../../assets/eco.jpg" class="mr-3 rounded img-thumbnail" alt="Sample Image" style="height: 300px; width: 500px; margin: 20px;">
        <div class="media-body">
            <br>
            <br>
            <h3 class="mt-0">Posibilidad economica:</h3>
            <br>
            <div>
        <input id="economico" type="radio" value="1" name="economico" formControlName="economico" >
        <label for="baja">baja</label>
     </div>

     <div>
        <input id="economico" type="radio" value="2" name="economico" formControlName="economico" >
        <label for="promedio">promedio</label>
     </div>
     <div>
      <input id="economico" type="radio" value="3" name="economico" formControlName="economico" >
      <label for="alta">alta</label>
   </div>
      
      <div *ngIf="f.economico.touched && f.economico.invalid" class="alert alert-danger">
          <div *ngIf="f.economico.errors.required"> is required.</div>
      </div>
        </div>
      </div>
      
    </div>
    <div class="form-group">
      <div class="media">
        <img src="../../../../assets/grado.jpg" class="mr-3 rounded img-thumbnail" alt="Sample Image" style="height: 300px; width: 500px; margin: 20px;">
        <div class="media-body">
            <br>
            <br>
            <h3 class="mt-0">Grado de religion:</h3>
            <br> 
            <div>
        <input id="religion" type="radio" value="1" name="religion" formControlName="religion" >
        <label for="male">ortodoxo</label>
     </div>

     <div>
        <input id="religion" type="radio" value="3" name="religion" formControlName="religion" >
        <label for="female">secular</label>
     </div>
     <div>
      <input id="religion" type="radio" value="5" name="religion" formControlName="religion" >
      <label for="female">conservador</label>
     </div>
      
      <div *ngIf="f.religion.touched && f.religion.invalid" class="alert alert-danger">
          <div *ngIf="f.religion.errors.required"> is required.</div>
      </div>
        </div>
      </div>
     
  </div>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>












<div class="card-columns"  >
  
  <div class="card" *ngFor="let q of comList" style=" width:400px; margin: 5px; border-color:rgb(101, 189, 98);">

    <img class="card-img-top" src="../../../assets/cielo.jpg"/>

    <div class="card-body">

      <h5 class="card-title" style="font-size: 30px;">{{q.ComunityName}}</h5>

    </div>
    <!--[routerLink]="['/yourCity, q.CityCode']" -->
    <a class="btn  dusty-grass-gradient color-block " (click)="goToComunity(q.ComunityCode)" >Ver mas</a>

  </div>

</div>
