<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="main">
        <img src="../../../assets/alia.jpg" style="width: 900px; height: 500px;">
        <h1>Alia</h1>
        <h4>	El crisol de las diásporas en su patria ancestral es la razón de ser del Estado de Israel. Aliá (literalmente ascenso) es la palabra hebrea para designar la inmigración a la Tierra de Israel. El significado de ascenso en este contexto es espiritual al igual que físico; todos los judíos son educados en la fe de que este ascenso es una parte esencial del judaísmo. Esta es la forma definitiva de identificación con el pueblo al que uno pertenece, el pueblo judío, cuya vida y destino están inextrincablemente unidos a la Tierra de Israel. Desde el comienzo de las olas de aliá a fines del siglo XIX, han llegado al país muchos cientos de miles de inmigrantes. El trasfondo, las tradiciones y la experiencia traídos por cada ola han sido de inmensurable valor en el desarrollo de la sociedad pluralista y democrática de Israel y de su moderna economía.

            Los judíos y la Tierra de Israel
            
            Luego de su expulsión y después de la caída de Jerusalem en manos de los romanos en el año 70 E.C., la mayoría de los judíos fueron dispersos por el mundo. La idea nacional judía, no obstante, jamás fue abandonada, al igual que el anhelo del retorno a su patria.
            
            A lo largo de los siglos, los judíos han mantenido una presencia en el país, en mayor o menor número; el ininterrumpido contacto con los judíos del mundo ha enriquecido la vida cultural, espiritual e intelectual de ambas comunidades.
            
            El sionismo, el movimiento político por el retorno del pueblo judío a su patria ancestral, fundado a fines del siglo XIX, deriva su nombre de la palabra "Sión", sinónimo tradicional de Jerusalem y la Tierra de Israel. En respuesta a la continua opresión y persecución a los judíos en Europa Oriental y la desilusión de la emancipación en Europa Occidental, e inspirados por la ideología sionista, los judíos comenzaron a inmigrar a Palestina hacia fines del siglo diecinueve. Esta fue la primera de las modernas olas de aliá que transformarían la faz del país.
        </h4>
    <h1>Global Center</h1>
 <h3>El Global Center es nuestra línea telefónica para la Aliá y las Experiencias en Israel, abierta 22 horas al día 6 días a la semana, y en siete idiomas.
    Tienes preguntas? Nosotros tenemos respuestas.
    
    Ya sea que estés considerando una experiencia corta o larga en Israel, que estés pensando en mudarte de manera permanente a Israel o simplemente busques la hospitalidad de los Israelíes, podemos ayudarte a comenzar tu viaje.
    
    Esperamos escuchar de ti en el Global Center. Estamos abiertos 22 horas al día, seis días a la semana, y podemos hablarte en Inglés, Francés, Español, Ruso, Portugués, Hebreo o Amárico.</h3>

    <h4>Argentina:
        0-800-666-2093
            <br> 
    Australia:
    
   
   1-800-445-781
   <br>
    Austria:
        0-800-281-587
        <br>      
    Belgium:
    
   
   0-800-709-67
   <br>
    Brazil:
    
   
   0-800-891-8023
   <br>       
    Britain: 
    
   
    0-800-0852-105
   
    <br>
   
    Canada: 
        1-866-421-8912
              Britain: 
        0-800-051-8227
        <br>
   Canada & US Russian speakers
    
   
   1-888-572-8269
   <br>
   
         U.S.A.:
        1-866-835-0430
        <br>
    Chile:
        123-002-07904 <br>
              Colombia:
        0-1-800-915-7121
        <br>
    Denmark:
        00-800-5394-7424
        <br>
    Finland:
        990-800-5394-7424
        <br>
              France:
        0-800-916-647
        <br>
    Germany:
        0-800-181-9271
        <br>
    Holland:
        0-800-022-1498
        <br>
              Hungary:
        680-014-267
        <br>
     India:
        000-800-972-1056
        <br>
              Israel:
        1-800-228-055
        <br>
    Italy:
        00-800-477-23528
        <br>
    Latvia:
        800-03520
        <br>
    Lithuania:
        880-030961
        <br>
              Mexico:
        001-877-684-55-52
        <br>
    New Zealand:
        0-800-448-591
        <br>
              Norway:
        00- 800-5394-7424
        <br>
    
    Panamá:
        011-00800-226-5000
        <br>
              Perú:
        0800-54407
        <br>
    Portugal:
        800-814843
        <br>
              Russia:
        8800-333-7460
        <br>
    
    South Africa:
        0-800-996-886
        <br>
              Spain:
        900-931-828
        <br>
    
    Sweden:
        00-800-539-47424
        <br>
              Switzerland:
        00-800-477-23528
        <br>
    Ukraine:
        0800-504603
        <br>
              Uruguay:
        000-405-4416
        <br>
   Venezuela Venezuela:
        0-800-100-5616</h4>
    </div>
</body>
</html>

