<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
    <div class="dusty-grass-gradient color-block mb-3 mx-auto z-depth-1-half p-4">
        <h1 class="display-3" style="font-size: 90px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" >~{{comunity.ComunityName}}~</h1></div>
 
    <div class="media">
        
        <div class="media-body" >
    
            
            <br>
            <br>
           <h3 style="font-size: 20px;">{{comunity.About}}</h3>
           
           
              
             
                <h4 style="font-size: 20px;">->La comunidad de encunetra en la ciudad de: {{city.CityName}}</h4>
                <h4 style="font-size: 20px;">->Esta comunidad es : {{sec.SectorName}}</h4>
        
        </div>
</div>

<div class="dusty-grass-gradient color-block mb-3 mx-auto z-depth-1-half p-4">
  <h1 class="display-3" style="font-size: 40px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" >El representante de {{comunity.ComunityName}}</h1></div>
<!-- Card -->


   
    <div class="card-body">
        <div class="main">
        <img src="../../../../assets/contacto.jpg" class="mr-3 rounded img-thumbnail" alt="Sample Image" style="height: 300px; width: 500px; margin: 20px;">
      <h3 class="card-title" style="font-size: 30px;"><a>{{representante.Name}}</a></h3>
      <!-- Text -->
      <p class="card-text">Número de teléfono: {{representante.PhoneNumber}} <br>Mail: {{representante.Email}}  </p>
      <!-- Button -->
        </div>
  
    </div>
  
 </div>
</body>
</html>
