<div >
    <div class="dusty-grass-gradient color-block mb-3 mx-auto z-depth-1-half p-4">
        <h1 class="display-3" style="font-size: 80px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" >
            Sobre Israel...</h1>
</div>

<div class="main card  mb-3 mx-auto z-depth-1-half p-4">
    
    <div class="card-body">
    <h2 >Distritos<br>
        Israel está dividido administrativamente en seis distritos principales, conocidos en hebreo como mehozot</h2>
    </div><a class="btn btn-success btn-lg" [routerLink]="['/monumentos']">Ver mas!</a>
</div>
<div class="main card  mb-3 mx-auto z-depth-1-half p-4">
    
    <div class="card-body">
    <h2 >Servicios sociales<br>
        Con el fin de mejorar el bienestar de la población, con especial
        atención a los elementos más débiles de la sociedad, Israel ha
        promulgado una amplia legislación social y ha establecido una
        extensa red de programas de asistencia social y de servicios
        comunitarios en todo el país.</h2>
    </div>
</div>
<div class="main card  mb-3 mx-auto z-depth-1-half p-4">
    <div class="card-body">
<h2>Vida urbana y rural <br>
    Cerca del 92 por ciento de la población de Israel vive en
    poblaciones urbanas. Muchas ciudades modernas se levantan
    en lugares famosos desde la Antigüedad, como Jerusalén,
    Safed, Beer Sheva, Tiberíades y Acre (Acco). Otras, como
    Rehovot, Hadera, Petah Tikva y Rishon Lezion eran en un
    principio, antes de la fundación del Estado, pequeños pueblos
    agrícolas y con el tiempo se han convertido en importantes
    centros urbanos. En los años siguientes a la independencia
    se crearon nuevas poblaciones designadas como “ciudades
    de desarrollo”, tales como Carmiel y Kiriat Gat, para asentar
    a los inmigrantes que llegaban al país en grandes números en
    aquellos años. Estas ciudades ayudaron también a redistribuir
    la población del país y a promover una economía urbano-rural
    integrada, atrayendo industrias y servicios a zonas antes
    despobladas. </h2>
    </div>
</div>
<div class="main card  mb-3 mx-auto z-depth-1-half p-4">
    <div class="card-body">
<h2> Salud<br>
    
El alto nivel de los servicios de salud de Israel, la excelente
calidad de los recursos y de la investigación en el campo de
la medicina, los modernos hospitales y la alta proporción de
médicos se reflejan en una baja tasa de mortalidad infantil
(4,7 por cada mil nacimientos vivos) y una elevada esperanza
de vida de la población (82,2 años para las mujeres, 78,5 años
para los hombres). Las leyes garantizan cuidados de salud a
todos, desde la infancia a la ancianidad. El gasto nacional de
Israel en materia de salud se compara favorablemente con el
de los países más avanzados. Una formación de alto nivel en
las profesiones médicas se ofrece en las escuelas de medicina,
odontología, farmacia, enfermería y rehabilitación física. </h2>
    </div>
</div>
<div class="main card  mb-3 mx-auto z-depth-1-half p-4">
    <div class="card-body">
    <h2 > Educación<br>
       
        Todos los israelíes, desde los niños en edad preescolar hasta
        los jubilados, se benefician de una amplia variedad de
        programas educativos. La asistencia a la escuela es obligatoria
        de los 5 a los 16 años y gratuita hasta los 18. Casi todos los
        niños de 3 y 4 años de edad asisten a algún tipo de marco
        preescolar, a pesar de no ser
        obligatorios ni gratuitos.</h2>
    </div>
</div>
<div class="main card  mb-3 mx-auto z-depth-1-half p-4">
    <div class="card-body">
    <h2 >Ciencia y tecnología<br>
        
Memoria USB
El deseo de convertir un
país inicialmente yermo y
plagado de enfermedades
en un estado moderno fue
el factor clave en el
desarrollo de la
investigación científica y
tecnológica en Israel. En un
principio la investigación se
concentró en proyectos de
importancia nacional. En la
actualidad el porcentaje de
israelíes que se dedican a
investigación científica y
tecnológica, así como el
porcentaje del producto interno bruto (PIB) invertido en
investigación y desarrollo (I&D) son de los más altos del
mundo. Fundaciones binacionales de investigación
desempeñan un papel crucial en una variedad de campos,
desde la investigación pura al desarrollo industrial y la
comercialización. A medida que el gran número de científicos,
ingenieros y técnicos altamente calificados que inmigraron a
Israel en los años 90 de la ex Unión Soviética se fueron
incorporando a la fuerza laboral, el personal calificado del país
aumentó de forma espectacular y esta tendencia seguirá
influyendo significativamente en los logros científicos y
tecnológicos de Israel en las décadas venideras</h2>
    </div>
</div>


<div class="main card  mb-3 mx-auto z-depth-1-half p-4">
    <div class="card-body">
    <h2 >Economía<br>
        
        Después de haber disfrutado durante muchos años de la tasa
        de crecimiento del PIB más rápida del mundo, Israel continúa
        ahora la recuperación económica iniciada en 2003, después
        de dos años de estancamiento de casi toda la actividad
        económica. En 2006 el PIB aumentó en un 5,1%, pese a la
        Segunda Guerra del Líbano, que causó una pérdida temporal
        de 0,7 por ciento en el PNB. El sector comercial encabezó
        la tendencia de recuperación rápida y de continuación del
        crecimiento, con una tasa de 6,4 por ciento. En 2006 el PIB per
        cápita alcanzó una cifra de cerca de US$ 20.000</h2>
    </div>
</div>
     </div>
