
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- <div style="width: 80%; margin: auto;">
        <h3>Add question of programming</h3>
        <form [formGroup]="myForm" (submit)="addComunity()">
            <div class="form-group">
                <span class="error" *ngIf="myForm.controls['subject'].errors?.required!=null">*</span> <label>Choice a subject </label> 
                <select class="form-control" formControlName="subject"> 
                    <option value="*"> Choice... </option>
                    <option *ngFor="let sub of allCities" [value]="sub.subjectId">{{sub.subjectName}}</option>
                </select>
            </div>
            <div class="form-group">
                <span class="error" *ngIf="myForm.controls['title'].errors?.required!=null">*</span> <label>Title of question </label> 
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <span class="error" *ngIf="myForm.controls['text'].errors?.required!=null">*</span> <label>Content of a question </label>  
                <textarea cols="250" rows="15" class="form-control" formControlName="text"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="add">
        </form>
    </div>
    <div class="main">
        <form [formGroup]="myform" (submit)="AddUser()">
           <div class="form-group">
            <label>Contact  Name </label>
            <input type="text" class="form-control" formControlName="email">
            <ul class="error" *ngIf="myform.controls['email'].errors!=null">
         </ul>
        </div>
            <div class="form-group">
                <label>mail </label>
                <input type="text" class="form-control" formControlName="firstName">
                <div class="error" *ngIf="myform.controls['firstName'].errors!=null"></div>
         </div>
         <div class="form-group">
            <label>phone </label>
            <input type="text" class="form-control" formControlName="lastName">
            <div class="error" *ngIf="myform.controls['lastName'].errors!=null"></div>
        </div>
        <div class="form-group">
            <label>city </label>
            <input type="text" class="form-control" formControlName="country">
            <div class="error" *ngIf="myform.controls['country'].errors!=null"></div>
        </div>
        
           
         
        
            <div>
                <input type="submit" class="btn btn-success" value="sign in">
                <a [routerLink]="['/register']" class="btn btn-success">new user</a>
            </div>
        </form>
          
        </div>-->
        <div class="dusty-grass-gradient color-block mb-3 mx-auto z-depth-1-half p-4 ripe-malinka-gradient">
            <h1 class="display-3" style="font-size: 90px; text-align: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" >Añadir Contacto!</h1></div>
     
        <div class="main">

            <form [formGroup]="myForm" (submit)="addContacts()">
                <div class="form-group">
                    <span class="error" *ngIf="myForm.controls['contact'].errors?.required!=null">*</span> <label>Nombre del Contacto </label>  
                    <input type="text" class="form-control" formControlName="contact">
                </div>
                <div class="form-group">
                    <span class="error" *ngIf="myForm.controls['cityCode'].errors?.required!=null">*</span> <label>City </label> 
                    <select class="form-control" formControlName="cityCode"> 
                        <option value="*"> Choice... </option>
                        <option *ngFor="let sub of allCity" [value]="sub.CityCode">{{sub.CityName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <span class="error" *ngIf="myForm.controls['country'].errors?.required!=null">*</span> <label>Country </label>  
                    <input type="text" class="form-control" formControlName="country">
                </div>
                <div class="form-group">
                    <span class="error" *ngIf="myForm.controls['phone'].errors?.required!=null">*</span> <label>Teléfono </label>  
                    <input type="text" class="form-control" formControlName="phone">
                </div>
                <div class="form-group">
                    <span class="error" *ngIf="myForm.controls['mail'].errors?.required!=null">*</span> <label>Mail </label>  
                    <input type="text" class="form-control" formControlName="mail">
                </div>
                <div class="form-group">
                    <span class="error" *ngIf="myForm.controls['about'].errors?.required!=null">*</span> <label>Un poco sobre mi... </label>  
                    <textarea cols="250" rows="15" class="form-control" formControlName="about"></textarea>
                </div>
                
                   <!-- <div *ngIf="f.anciano.touched && f.anciano.invalid" class="alert alert-danger">
                        <div *ngIf="f.anciano.errors.required"> is required.</div>
                    </div>-->
            
                <input type="submit" class="btn btn-primary" value="add">
        </form>
   
    <br>
    <a class="btn  btn-lg btn-block ripe-malinka-gradient"  [routerLink]="['/directive']">Volver al director</a>
 </div>
</body>
</html>